
<div class="formContainer">
 <div class ="verticalCenter">
   <div class="col-xs-12 col-sm-offset-4 col-sm-4 loginForms">
     <h2 text="center">Twitter App Signup</h2>
     <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p> 
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  
  <div><%= f.label :first_name %><br />
  <%= f.text_field :first_name, autofocus: true %></div>

  <div><%= f.label :last_name %><br />
  <%= f.text_field :last_name, autofocus: true %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email, autofocus: true %></div>

  <div><%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %></div>

  <div><%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %></div>

  <div><%= f.submit "Sign up" %></div>
<% end %>
    <%= render "devise/shared/links" %>
   </div>
 </div>
</div>

